In [1]:
import pandas as pd

In [2]:
dframe = pd.read_csv('udemy_python/01.data/lec25.csv')

In [4]:
dframe = pd.read_table('udemy_python/01.data/lec25.csv', sep=',')

In [5]:
dframe

   q  r  s  t   apple
0  2  3  4  5    pear
1  a  s  d  f  rabbit
2  5  2  5  7     dog